<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>

<div class="col-md-12 text-align"><h1 id="title"><span class="rotate"><span class="rotating flip up" style="display: inline-block; transform: rotateX(-180deg);"><span class="front">La Belle Vie</span><span class="back">Menu Next Door</span></span></span> a besoin de <span class="rotate"><span class="rotating flip up" style="display: inline-block; transform: rotateX(-180deg);"><span class="front">/packers</span><span class="back">/photographes</span></span></span></h1>
<h2 id="subtitle"><span id="subtitle-text">Trouvez des <span class="bold-text">jobs étudiants</span> qui s'adaptent à votre emploi du temps. Postulez immédiatement.</span></h2></div>



<!DOCTYPE html>
<html>
<head>
<style>.avatar { 
      height: 50px; 
      width: 50px; 
      position: relative; 
    } 
.avatar .avatar-image, 
.avatar .avatar-initials { 
      height: 100%; 
      width: 100%; 
      position: absolute; 
      top: 0px; 
      left: 0px; 
    } 
.avatar .avatar-image { 
      z-index: 10; 
      background-color: #fff; 
    } 
.avatar .avatar-initials { 
      display: block; 
      background-size: 100% 100%; 
      background-color: #aaa; 
      color: #fff; 
      font-size: 25px; 
      line-height: 50px; 
      font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif; 
      text-align: center; 
      z-index: 1; 
    } 
.avatar-rounded .avatar-image, 
.avatar-rounded .avatar-initials { 
      border-radius: 5px; 
    } 
.avatar-circle .avatar-image, 
.avatar-circle .avatar-initials { 
      border-radius: 50%; 
    } 
.avatar-hide-image .avatar-image { 
      display: none; 
    } 
.avatar-hide-initials .avatar-initials { 
      display: none; 
    } 
  .avatar-large {width: 80px; min-width: 80px; height: 80px;}
.avatar-large .avatar-initials {font-size: 40px; line-height: 80px;}
.avatar-small {width: 30px; min-width: 30px; height: 30px;}
.avatar-small .avatar-initials {font-size: 15px; line-height: 30px;}
.avatar-extra-small {width: 20px; min-width: 20px; height: 20px;}
.avatar-extra-small .avatar-initials {font-size: 10px; line-height: 20px;}
</style>

  <link rel="stylesheet" type="text/css" class="__meteor-css__" href="/c7aec633cd70055ff0bff58cb86b2d0804a48958.css?meteor_css_resource=true">  <link rel="stylesheet" type="text/css" class="__meteor-css__" href="/31a8f54ac74fc1e9dd9e4778178250747d1e1109.css?meteor_css_resource=true">
<script id="irga-analytics" async src="//www.google-analytics.com/analytics.js"></script>
<meta name="fragment" content="!">
<meta name="fragment" content="!">
<meta name="google-site-verification" content="pwEe7oNWpu9oV9rS_hj9bcaEjw3f1XoVptSMaZG-pZM" />
<!-- Facebook Pixel Code -->
<script>
if (window.location.hostname != 'localhost') {
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '1084783054899019');
fbq('track', "PageView");
}</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1084783054899019&ev=PageView&noscript=1"
/></noscript>

<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion_async.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" class="__meteor-css__" href="/c7aec633cd70055ff0bff58cb86b2d0804a48958.css?meteor_css_resource=true">
</head>
<body>



<script type="text/javascript">__meteor_runtime_config__ = JSON.parse(decodeURIComponent("%7B%22meteorRelease%22%3A%22METEOR%401.3.5.1%22%2C%22meteorEnv%22%3A%7B%22NODE_ENV%22%3A%22production%22%2C%22TEST_METADATA%22%3A%22%7B%7D%22%7D%2C%22PUBLIC_SETTINGS%22%3A%7B%22ga%22%3A%7B%22id%22%3A%22UA-64703644-1%22%7D%2C%22analyticsSettings%22%3A%7B%22Google%20Analytics%22%3A%7B%22trackingId%22%3A%22UA-64703644-1%22%7D%7D%2C%22env%22%3A%7B%22BUNDLE_PATH%22%3A%22assets%2Fapp%22%2C%22HTTP_FORWARDED_COUNT%22%3A%221%22%2C%22mp_key%22%3A%2289ce0e5ac2779bd8ef8574ac0f5c0883%22%2C%22s_client_id%22%3A%22ca_7QftUNpXwBLZWqmRy8GOPy7EVhQOGLAq%22%2C%22s_pkey%22%3A%22pk_live_cDknaWWvyFbvOyf0ovZdkZBu%22%2C%22algolia_app_id%22%3A%22B1ARJ7GA5A%22%2C%22algolia_public_key%22%3A%22e8002ed2bd17f10b0c5041c910617d76%22%2C%22algolia_jobOffer%22%3A%22prod_jobOffer%22%2C%22algolia_user%22%3A%22prod_user%22%7D%2C%22loginState%22%3A%7B%22domain%22%3A%22.weslash.co%22%2C%22cookieName%22%3A%22wsLStatus%22%7D%7D%2C%22ROOT_URL%22%3A%22http%3A%2F%2Fwww.weslash.co%22%2C%22ROOT_URL_PATH_PREFIX%22%3A%22%22%2C%22kadira%22%3A%7B%22appId%22%3A%22y7wJghFk8AifSgPKo%22%2C%22endpoint%22%3A%22https%3A%2F%2Fenginex.kadira.io%22%2C%22clientEngineSyncDelay%22%3A10000%2C%22enableErrorTracking%22%3Atrue%7D%2C%22appId%22%3A%221n247lk7utpr91pofufx%22%2C%22autoupdateVersion%22%3A%22f36e1965ed5647fd270c606e2e15b18b26ed28d6%22%2C%22autoupdateVersionRefreshable%22%3A%2235be3c818bdb63188a81485b6784d02e6a365884%22%2C%22autoupdateVersionCordova%22%3A%22none%22%7D"));</script>

  <script type="text/javascript" src="/565b54db1bb79bbc4e7ae76634ff8eb3776a448d.js?meteor_js_resource=true"></script>


</body>
</html>
