<div id="home">
    <div  class="homepage">
      <div class="container">
      <div class="homepage-content">

      <div class="afrostream-movie__mask">
        <h1 class="tilte">Mentor Mentor</h1>
        <p style="margin-bottom:40px"></p>
              <div>
                <p class="slogan">Mon histoire</p>
              </div>
              <div>
              <p class="baseline">Mentor Mentor est une plateforme d'apprentissage de savoir faire technique <br> comme l'électricité, l'électronique, Arduino, Raspberry Pi, l'informatique, la menuserie... <br>avec un particulier pres de chez soi</p>
            </div>  
      </div>

    
         
      </div>
      </div>
      
      </div>
    </div>
