<div id="home">
    <div class="homepage">
      <div class="container">
      <div class="homepage-content">
        <!-- <h1>Matchee</h1> -->
        <h1 class="tilte">Mentor Mentor</h1>
        <p style="margin-bottom:40px"></p>
              <div>
              	<p class="slogan">Apprenez des savoirs faire technique entre particuliers</p>
              </div>
              <div class="col-xs-12 text-center"><button type="button" class="btn btn-red btn-form" id="newUserBtnTop">J'accède aux missions</button></div>
          <div class="homepage-message">
          <!--<p style="color: white; padding:50px; font-weight: bolder" class="baseline">Mentor Mentor est une plate-forme d'apprentissage <br> de savoir faire technique entre particulier </p>-->
        </div>
      </div>
      
      </div>
    </div>
    </div>
