<!--<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!--<div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <!--<a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="#portfolio">S'inscrire</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Se connecter</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">A propos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>-->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>




    <div id="home">
        <div  style=" background-image: url(/atelier.jpg)"class="homepage">
          <div class="container">
          <div class="homepage-content">

          <div class="afrostream-movie__mask">
            <h1 class="tilte">Mentor Mentor</h1>
            <p style="margin-bottom:40px"></p>
                  <div class="col-xs-12 text-center">
                    <p class="slogan">Apprenez des savoirs faire technique <br>entre particuliers</p>
                  </div>
                  <div>
                  <p class="baseline">Mentor Mentor est une plate-forme d'apprentissage de savoir faire technique <br> comme l'électricité, l'électronique, Arduino, Raspberry Pi, l'informatique, la menuserie... <br>avec un particulier pres de chez vous</p>


                </div>  

                <div class="col-xs-12 text-center"> <a href="#services" class="page-scroll btn btn-lg">Voir un exmple</a>

                
                    </div>
          </div>

        
             
          </div>
          </div>
          
          </div>
    </div>

