


    <div id="home">
        <div  style=" background-image: url(/atelier.jpg)"class="homepage">
          <div class="container">
          <div class="homepage-content">

          <div class="afrostream-movie__mask">
            <!--<h1 class="tilte">Mentor Mentor</h1>-->
            <p style="margin-bottom:40px"></p>
                  <div class="col-xs-12 text-center">
                    <p class="slogan">Merci d'avoir pris quelques secondes <br> pour vous inscrire !</p>
                  </div>
                  <div>
                  <p class="baseline">Nous allons vous contactez bientôt</p>


                </div>  

                <div class="col-xs-12 text-center"> <a href="home.html" class="page-scroll btn btn-lg">Revenir à la page d'accueil</a>

                


                </div>


          </div>

        
             
          </div>
          </div>
          
          </div>
    </div>

