/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: none;
    padding-bottom:100px;
}
.P{
	pading-top:200px;
    background-image: url(/83.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
   
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    height: 700px;
}
.homepage {
    color: white;
    text-align: center;
    height: 100vh;
    background-size: cover !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: center center;
    background-image: url(/touret.JPG);
   
}
.tilte
{
    
    font-size:50px;
    font-weight:bolder;
}

.baseline
{
    font-size:26px;
}
aside
{
    margin-top:1px;
}
.btn-lg
{
margin-top:20px;
color: #fff;
background-color: #fec503;
border-color: #f6bf01
}
